.button {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(177, 177, 234);
    margin: 10px 10px 10px;
    position: relative;   
}

.img {
    padding-bottom: 35px;
    position: absolute;
    text-align: center;
}

.iimg {
    padding-bottom: 42px;
    position: absolute;
    text-align: center;
}

.type {
    padding-top: 50px;
    position: absolute;
    text-align: center;
}